@import url('https://fonts.googleapis.com/css?family=Poppins:900');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-select {
  position: relative;
  font-family: Arial;
  width:calc(15vw + 60px);
  background-color: rgba(255, 255, 255, 0.7);
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgba(255, 255, 255, 0.7);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 5px;
  right: 5px;
  width: 0;
  height: 0;
  border: 1vw solid transparent;
  border-color:  #f50057 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent  #f50057 transparent;
  top: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color:  #f50057;
  background-color:rgba(255, 255, 255, 0.9);
  padding: 8px 16px;
  border: 2px solid transparent;
  border-color: #f50057;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(248, 248, 248, 0.8);
}

.button {
  margin: 1px;
  padding: 7px;
  font-size: clamp(7px, 3vw, 20px);
  font-weight: 500;
  color: #f50057;
  background-color: Transparent;
  border: 2px solid #f50057;
  cursor: pointer;
  text-align: center;
  transition: 0.25s ease;
}

.button:hover {
    border-radius: 25px;
}

.button:active {
    border-radius: 1px;

    vertical-align: center;
    /* width: 32%; */
    padding: 10px;
    outline: none;
}

.button:focus {
  outline:0;
}

.inputAnswer {
  width: calc(20vw + 80px);
  font-size:  clamp(7px, 3vw, 20px);
  /*calc(12px + 16 * (100vw / 1280)); */
  border-color:  #f50057;
}

.inputAnswer:active {
    outline: none;
}

.inputAnswer:focus {
  outline:0;
}

.inputAnswer:focus::placeholder {
  color: transparent;
}

.myDiv {
    border: 2px;
    border-radius: 5px;
    border-style: solid solid solid solid;
    align: center;
    color: #00122B;
    border-color: #f50057;
    font-size: clamp(7px, 3vw, 20px);
    /*calc(12px + 16 * (100vw / 1280))  სამუშაო   */
    text-align: center;
}

.center {
  margin: auto;
  width: clamp(250px, 80vw, 1024px);
  padding: 5vw 1vw 0vw 1vw;
}

.footer {
  background-color : Window;
    margin: 10vw 0vw -0.5vw 5vw;
    font-family: sans-serif;
    font-weight: 10;
    font-size: clamp(10px, 1vw, 15px);
    color: #00122B;
    text-align: right;
}

.footerfonstyle {
  font-family: sans-serif;
  font-weight: 10;
  font-size: clamp(10px, 1vw, 15px);
  color: #00122B;
}
